<html>
    <head>
        <style type="text/css">
            body {
                background: white;
                color: black;
            }
            div.container {
                max-width: 500px;
                margin: 100px auto;
                border: 20px solid blue;
                padding: 10px;
                text-align: center;
            }
            h4 {
                #text-transform: upppercase;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h4> Hello Caas Team</h4>
            <h4>This is a test of Docker</h4>
            <br>
                <h4>Keep Learning</h4>
        </div>
    </body>
</html>